/* FONTS */

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;700&display=swap');

@font-face {
  font-family: 'Dystopian';
  src: url('./fonts/Dystopian-Bold.woff2') format('woff2'),
      url('./fonts/Dystopian-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Dystopian';
  src: url('./fonts/Dystopian-Regular.woff2') format('woff2'),
      url('./fonts/Dystopian-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Dystopian';
  src: url('./fonts/Dystopian-Black.woff2') format('woff2'),
      url('./fonts/Dystopian-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Dystopian';
  src: url('./fonts/Dystopian-Ligth.woff2') format('woff2'),
      url('./fonts/Dystopian-Ligth.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}


body {
  margin: 0;
  font-family: 'IBM Plex Sans', -apple-system,BlinkMacSystemFont, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{margin:0;padding:0}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}ul{list-style:none}button,input,select,textarea{margin:0}html{box-sizing:border-box}*,*::before,*::after{box-sizing:inherit}img,video{height:auto;max-width:100%}iframe{border:0}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}td:not([align]),th:not([align]){text-align:left}
